<div class="row">
  <div id="projectsSection" class="post">
    <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
      <ul>
        <li><a href="#tabs-1"> T-Shirts </a></li>
        <li><a href="#tabs-2">Long Sleeves Top</a></li>
        <li><a href="#tabs-3">Caps</a></li>
      </ul>

      <div id="tabs-1">
        <p>This is just a T-shirt you can wear on a summer time.</p>
        {{#each tShirt}}
          <div class="ui-state-highlight ui-corner-all"><strong>
              <img class="ads" src="{{this.picture_Url}}" alt="">
              <br>
              Quantity : {{this.Qty}}
              <br>
              {{this.Price}} : </strong><a href="#">Buy</a>
          </div>
        {{/each}}
        <input id="addButton" class="button" type="button" name="" value=" + Add">
      </div>

      <div id="tabs-2">
        <p>This is just a good Top for mid winter season.</p>
        {{#each longSleeve}}
          <div class="ui-state-highlight ui-corner-all"><strong>
              <img class="ads" src="{{this.picture_Url}}" alt="">
              <br>
              Quantity : {{this.Qty}}
              <br>
              {{this.Price}} : </strong><a href="#">Buy</a>
          </div>
        {{/each}}
        <input id="addButton" class="button" type="button" name="" value=" + Add">
      </div>

      <div id="tabs-3">
        <p>This is a good cap to wear on a summer season.</p>
        {{#each cap}}
          <div class="ui-state-highlight ui-corner-all"><strong>
              <img class="ads" src="{{this.picture_Url}}" alt="">
              <br>
              Quantity : {{this.Qty}}
              <br>
              {{this.Price}} : </strong><a href="#">Buy</a>
          </div>
        {{/each}}
        <input id="addButton" class="button" type="button" name="" value=" + Add">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div id="addProductDiv" class="post hide">
    <form class="" action="/projects" method="post" enctype="multipart/form-data">
      <label for="avatar">Choose a file to upload:</label>
      <input type="file" id="avatar" name="picture_Url" accept="image/png, image/jpeg">
      Type : <select class="brandOptions" name="typeOfCloth">
        <option class="placeHolder" value="" selected="true" disabled="">SELECT TYPE</option>
        <option value="Cap">Cap</option>
        <option value="Long Sleeve">Long Sleeve</option>
      </select>

      Size : <input type="text" name="size" value="">

      Quantity : <input type="number" name="qty" value="">

      Price : <input type="text" name="price" value="">
      <input class="button" type="submit" name="" value="Submit">

    </form><br>
    <input id="back" class="backButton" type="submit" name="" value="Back">
  </div>
</div>
